/* ----------- TYPOGRAPHY ----------- */

h1,
h2,
h3,
h4,
p,
li,
a {
  font-family: 'Roboto', sans-serif;
}

/* ----------- LAYOUT: ----------- */

.container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.row {
  width: 100%;
  clear: both;
}

.col-full {
  width: 100%;
  color: #fff;
  border-radius: 10px;
  padding: 10px;
}

.col-grid ul {
  padding-left: 0;
}

.col-grid li {
  display: inline-block;
  margin: 5px;
  color: #fff;
  border-radius: 10px;
  height: 240px;
  width: 240px;
  line-height: 200px;
  font-size: 32px;
  background-color: #4281a4;
  opacity: 0.8;
}

/* ----------- BACKGROUND: ----------- */


body {
  background: linear-gradient(270deg, #65def1, #a8dcd1, #dce2c8);
  background-size: 600% 600%;
  -webkit-animation: background 30s ease infinite;
  -moz-animation: background 30s ease infinite;
  animation: background 30s ease infinite;
}

@-webkit-keyframes background {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes background {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@keyframes background {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}