/* ----------- DESKTOP ----------- */

h1,
h2,
h3,
h4,
p,
li,
a {
  color: #212121;
  font-family: 'Asap Condensed', sans-serif;
  font-size: 45px;
}

.container {
  position: relative;
  text-align: center;
  width: 500px;
  margin: 100px auto;
}

.slide-one {
  position: absolute;
  border: 5px solid #fff;
  border-radius: 30px;
  height: 500px;
  width: 500px;
  background-color: #fff;
  opacity: 0.9;
}

.hide {
  display: none;
}

.touch-button {
  height: 150px;
  width: 150px;
  border: 5px solid #212121;
  border-radius: 100%;
  background-color: #ff4c4c;
  margin: 0 auto;
  cursor: pointer;
}

#background-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

/* ----------- DESKTOP RESPONSIVE ----------- */

@media only screen and (max-width: 720px) {
  h1,
  h2,
  h3,
  h4,
  p,
  li,
  a {
    color: #212121;
    font-family: 'Asap Condensed', sans-serif;
    font-size: 35px;
  }
  .container {
    width: 100%;
    margin: 40px auto;
  }
  .slide-one {
    height: 80vh;
    width: 100%;
    margin: -5px;
  }
}
