h1, h2, h3, h4, p, li {
  color: #212121;
  font-family: 'Asap Condensed', sans-serif;
}

.container {
  position: fixed;
  text-align: center;
  margin-top: 350px;
  height: 350px;
  width: 100%;
}

.content {
  padding-top: 40px;
}

.links img {
  padding: 15px;
  width: 50px;
}

hr {
  width: 10%;
	border: 3px dashed #212121;
}

#background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
