.about {
  text-align: center;
  padding: 20px;
  height: 100vh;
  margin-top: 60px;
  hr {
    background-color: #48b0f5;
    border: 1px solid #48b0f5;
    width: 80%;
  }
  p {
    margin: 20px auto;
    width: 80%;
  }

  .skills {
    padding: 10px;
  }

  .skill-button {
    margin: 5px;
    padding: 10px;
    border: 1px solid #48b0f5;
    border-radius: 10px;
    color: #48b0f5;
    background-color: #fff;
    font-size: 15px;
  }

  .skill-button:hover {
    border: 1px solid #48b0f5;
    color: #fff;
    background-color: #48b0f5;
    transition: 0.3s;
    cursor: pointer;
  }
}

@media only screen and (max-width: 1140px) {
  .about {
    height: 100%;
  }
}