.contact {
  text-align: center;
  margin: 10% auto;
  font-size: 30px;
  border: 5px solid #48b0f5;
  width: 60%;
  height: 300px;
  transition: 0.3s ease-in-out;

  hr {
    background-color: #48b0f5;
    border: 1px solid #48b0f5;
    width: 80%;
  }

  a {
    color: #212121;
    text-decoration: none;
  }
}

@media only screen and (max-width: 600px) {
  .contact {
    margin-top: 25px;
    width: 100%;
    transition: 0.3s ease-in-out;
  }
}