nav {
  padding: 15px;
  position: fixed;
  top: 0;
  transition: top 0.2s ease-in-out;
  background-color: #fff;
  width: 100%;

  ul {
    display: inline;
  }

  li {
    display: inline;
    padding: 50px;
    transition: 0.3s ease-in-out;
  }

  a {
    text-decoration: none;
    color: #212121;
    font-size: 20px;
  }

  .social {
    position: absolute;
    right: 60px;

    img {
      height: 34px;
    }
  }
}

.nav-up {
  top: -55.5px;
}

@media only screen and (max-width: 720px) {
  nav {
    li {
      padding: 5px;
      transition: 0.3s ease-in-out;
    }
    .social {
      display: none;
    }
  }
}