.project {
  margin-top: 35px;
  text-align: center;
  
  hr {
    background-color: #48b0f5;
    border: 1px solid #48b0f5;
    width: 80%;
  }

  img {
    width: 100%;
    margin-top: 20px;
    transition: 0.3s ease-in-out;
  }

  .project-copy {
    width: 100%;

    a {
      text-decoration: none;
    }

    .see-live-button {
      margin: 5px;
      padding: 10px;
      border: 1px solid #48b0f5;
      border-radius: 10px;
      color: #48b0f5;
      background-color: #fff;
      font-size: 15px;
    }
  
    .see-live-button:hover {
      border: 1px solid #48b0f5;
      color: #fff;
      background-color: #48b0f5;
      transition: 0.3s;
      cursor: pointer;
    }
  }
}

